:root {
    --primary-color: #5be8f9;
    --secondary-color: #2e405c;
}

*{
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2e405c ;
}

::selection {
    color: #222;
    background: #5be8f9;
}

.scroll-icon {
    transform: translate(-50%, 0%);
    animation: fade_move_down 2s ease-in-out infinite;
}

#scroll {
    bottom: 5vh;
    position: absolute;
}

.bounce {
    -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
    
}

.container {
    max-width: 1024px;
}

/* Scroll progress bar */
header {
    position: fixed;
    top: 0;
    background-color: var(--secondary-color);
    width: 100vw;
}
.scroll-container {
    width: 100%;
}
.scroll-bar {
    width: 0%;
    display: inline-block;
    background-color: var(--primary-color);
}
.to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 2px 0 white;
    display: none;
}
.to-top svg {
    width: 70%;
    height: 70%;
}